body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	/*background-color: #f4f4f4;*/
	background: url("../img/background.jpg") no-repeat center top;
	background-size: cover;
	height: 100vh;
}
html{
	height: 100%;
}

/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow: hidden; /*hide anything outside the div (no scroll bar)*/
}

/*Header*/
header{
	background: rgba(80, 80, 80, 0.8);
	color: rgba(255, 255, 255, 1);
	padding: 15px 0 0 0; 
	min-height: 60px;
	border-bottom: rgba(205, 133, 63, 0.5) 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
}

header #branding{
	float: left;
}

header ul{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 40px 0 20px;
}

header #branding{
    float: left;
}

header h1{
    margin:0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight{
	color: #ffebcd;
}

header a:hover{
    color:#cccccc;
}

/*sign-in box*/

#signin_box{
	background-color: rgba(220,220,220,0.5);
	margin: auto;
	margin-bottom: 287px;
	margin-top: 100px;
	width: 400px;
	padding: 3rem 0 2rem 0;
	border-radius: 5px;
}

#signin_box input{
	padding: 4px;
	height: 30px;
	width: 310px;
	border: 0;
	margin-bottom: 20px;
	border-radius: 5px;
}

.button_1{
	color: #ffebcd;
	background: #808080;
	border: 0;
	width: 100%;
	padding: 10px 10px;
	border-radius: 5px;
}

.button_1:hover{
	background: #909090;
}

/*Footer*/
#home-footer{
	font-size: 12px;
	text-align: center;
	color: #151515;
}












