*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font: 13px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	/*background-color: #f4f4f4;*/
	background: url("../img/white_background.jpg") no-repeat center top;
	/*background-size: cover;*/
	height: 100vh;
}
html{
	height: 100%;
}

/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow: hidden; /*hide anything outside the div (no scroll bar)*/
}

/*Nav Bar*/
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 45px;
	background-color: rgba(10, 10, 10, 0.8);
	font-family: 'Poppins', sans-serif;
	position: fixed;
	width: 100%;
}

nav a:hover{
	color: white;
}

.branding{
	color: rgba(230, 230, 230);
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 600;
	padding-left: 10%;
}

.branding a{
	text-decoration: none;
	color: rgba(230, 230, 230);
}

.menu{
	display: flex;
	width: 40%;
	justify-content: space-around;
	align-content: center;
}

.menu li{
	list-style: none;
	padding-left: 5%;
}

.menu a{
	text-decoration: none;
	color: rgba(210, 210, 210);
	font-size: 13px;
}

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 18px;
	height: 2px;
	background-color: rgb(210, 210, 210);
	margin: 3px;
}

/*main*/

.main{
	display: flex;
	align-items: center;
	height: 100%;
}
.intro{
	width: 50%;
	min-height: 100%;
	padding-left: 10%;
}
.intro p{
	width: 70%;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	/*color: #fff;*/
	color: #505050;
	margin: auto;
	margin-top: 45%;
/*	margin-left: 27%;
	margin-bottom: 315.34px;*/
}

#signin-area{
	/*float: right;*/
	width: 50%;
	margin:auto;
	padding-right: 7%;
	/*padding-top: 25%;*/
	height: 100%;
	/*display: flex;
	align-items: top;
*/}
/*Sign In box*/
#signin_box{
	/*align-items: center;*/
	background-color: rgba(300,300,300,0.5);
	margin: auto;
	/*margin-bottom: 290px;*/
	margin-top: 38%;
	width: 380px;
	height: 290px;
	overflow: hidden;
	padding: 1.5rem 0 1rem 0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#signin_box h1{
	padding-left: 43px;
	padding-bottom: 29px;
	padding-top: 5px;
}

#signin_box input{
	padding: 4px;
	padding-left: 12px;
	height: 32px;
	width: 80%;
	border: 0;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 5px;
}

.button_1{
	color: #ffebcd;
	background: rgba(100, 100, 100);
	border: 0;
	width: 80%;
	padding: 10px 10px;
	margin: auto;
	border-radius: 5px;
}

.button_1:hover{
	background: rgba(105, 105, 105);
}

#signup-link{
	font-size: 12px;
	margin-left: 41px;
}


/*Footer*/
#home-footer{
	display: inline-block;
	width: 100%;
	border-bottom: 5px;
	font-size: 12px;
	text-align: center;
	color: #151515;
}

#home-footer p{
	margin-bottom: 0px; 
}



/*-------phone version-------*/
@media screen and (max-width: 768px){

	.menu{
		width: 42%;
		position: absolute;
		right: 0;
		top: 45px;
		height: 95vh;
		background-color: rgb(51, 51, 51, 0.98);
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}
	.menu li{
		opacity: 0;
	}
	.burger{
		display: block;
	}
}

@keyframes menuElementsAppear{
	from{
		opacity: 0;
		transform: translate(50px);
	}
	to{
		opacity: 1;
		transform: translate(0px);
	}
}

@keyframes menuElementsFade{
	from{
		opacity: 0.5;
		transform: translate(0px);
	}
	to{
		opacity: 0;
		transform: translate(50px);
	}
}


.menu-active{
	transform: translate(0%);
}

.menu-toggle .line1{
	transform: rotate(-45deg) translate(-4px, 3px);
}

.menu-toggle .line2{
	opacity: 0;
}

.menu-toggle .line3{
	transform: rotate(45deg) translate(-4px, -3px);	
}







